"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "908c4fc0-cb94-45a9-b1d7-cdd6e0b31db7"
  "platformio-ide-terminal":
    style:
      theme: "linux"
    toggles: {}
  welcome:
    showOnStartup: false
